




.card{
  display: flex;
  width: 100%;
  margin-top: 5rem;
}

.loading-spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5625rem;
  background-color: rgb(48, 47, 47);
}

.coursesTitle{
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
}



table {
  width: 100%;
}

th {
  text-align: left;
  font-style: italic;
  font-weight: 600;
  color: black
}

td {
  text-align: left;
  font-style: italic;
  font-weight: 500;
  color: black
}
