/* You can add global styles to this file, and also import other style files */
@import  '@angular/material/theming';
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
$custom-app-primary: mat-palette($mat-blue);
$custom-app-secondary: mat-palette($mat-pink, A200, A100, A400);
$custom-app-warn: mat-palette($mat-red);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #060C21;}

body::-webkit-scrollbar {
  border-radius: 13px;
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #383838;
}

body::-webkit-scrollbar-thumb {
  border-radius: 13px;
  background-color: #50589e;
  border: 2px solid transparent;
  background-clip: content-box;
}
